
@{
    ViewBag.Title = "index";
}

<form action="/action_page.php">
    First name:<br>
<input type="text" name="firstname" value="">
<br>
<br><br>
<input type="submit" value="Join">
</form>


<br><br>
<input type="submit" value="NewGame">
</form>