
@{
    ViewBag.Title = "index";
}

<div class="game-bg index-bg">
    <form action="/Home/StartGame">
        <input type="submit" name="toDo" value="New game" />
        <input type="submit" name="toDo" value="Join open game" />
        <input type="submit" name="toDo" value="Join specific game">
    </form>
</div>