
@{
    ViewBag.Title = "index";
}

<form action="/Home/StartGame">
    <input type="submit" name="toDo" value="New Game" />
    <input type="submit" name="toDo" value="Join Game" />
</form>

<a href="/Home/Game">Test game</a>