
@{
    ViewBag.Title = "index";
}

<form action="/Home/StartGame">
    <input type="submit" name="toDo" value="NewGame" />
    <input type="submit" name="toDo" value="Join" />
</form>

<a href="/Home/Game">Test game</a>