@{
    ViewBag.Title = "Start Game";
}

<h2>Start Game</h2>

<form>
    Name:<br>
    <input type="text" name="Name" /><br />
    @if (ViewBag.ToDo == "Join")
    {
        <span>Gamekey:</span><br />
        <input type = "text" name="GameKey" /><br />
    }
    <input type="submit" value="Start" /><br />
</form>