
@{
    ViewBag.Title = "StartGame";
}

<h2>StartGame</h2>
<form>
    Name:<br>
    <input type="text" name="Name"><br>
    @if (ViewBag.ToDo == "Join")
    {
        <span>Gamekey:</span><br>
        <input type = "text" name="GameKey">
    }
    <input type="submit" value="Start"><br>
    
   
</form>
