@model GameEngine.GameBoards

@{
    ViewBag.Title = "Start Game";
}

<h2>Start Game</h2>

<form>
    Name:<br>
    <input type="text" name="name" /><br />
    @if (ViewBag.ToDo == "Join specific game")
    {
        <label>
            Gamekey:<br />
            <input type="text" name="gameKey" value="@ViewBag.GameKey" />
        </label>
    }
    else if (ViewBag.ToDo == "Join open game")
    {
        <label>
            Select game to join:<br />
            @Html.DropDownList("GameKey", new SelectList(Model.OpenGames, "GameKey", "Players[0].Name", null))<br />
        </label>
    }
    else
    {
        <label>
            <input type="checkbox" name="privateGame" /> Private game
        </label>
    }
    <br /><br />
    <input type="submit" value="Start" /><br />
</form>